<!DOCTYPE html>
<html lang="en">
<head>
    <title>Hostel</title>
</head>

<style>header {
  text-align: center;
  background-color: rgb(245, 156, 3);
}
body {
  margin: 0;
}
.umslogo {
  margin-top: 20px;
  margin-bottom: 10px;
}
h1 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 40px;
  margin-left: 35px;
}
P {
  font-family: inherit;
  font-weight: 400;
  font-size: 25px;
  color: #212121;
  font-size: 1.4rem;
  line-height: 1.7rem;
  font-family: inherit;
  font-size: 1.2rem;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  margin-left: 35px;
}
.hostel {
  float: left;
  margin-left: 35px;
  margin-right: 15px;
}
.pa {
  margin-right: 25px;
}
.ph1 {
  float: right;
  margin-right: 170px;
  margin-left: 15px;
}
.ulli {
  font-family: inherit;
  font-weight: 400;
  font-size: 25px;
  color: #212121;
  font-size: 1.4rem;
  line-height: 1.7rem;
  font-family: inherit;
  font-size: 1.4rem;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  margin-top: 35px;
  margin-left: 25px;
  margin-right: 25px;
}
.ph2 {
  float: left;
  margin-right: 25px;
  margin-left: 35px;
}
.ph4 {
  margin-left: 85px;
}
.ph6 {
  float: left;
  margin-right: 25px;
  margin-left: 35px;
}
</style>
<body>
    <header>
        <img src="~/images/lpu_logo.png" width="75" />
        <img class="umslogo" src="~/images/ums_logo.png" />
    </header>
    <h1>Hostel Booking In LPU:-</h1>
    <div class="hostel">
        <img src="~/images/hostel.jpeg" width="200" height="200" />
    </div>
    <div class="pa">
        <p>
            LPU has an amazing hostel facility, there is nothing as best hostel or
            best mess. All the hostels are provided with all the facilities. Food is
            also the same in all the hostels. All the facilities and services
            provided are the same and it entirely depends on which services you
            choose for yourself.
        </p>
        <p>
            Separate residential facility for boys and girls within the campus.
            Rooms with attached washroom, bed (without mattress), table, chair and
            almirahs except in certain dormitory rooms. Air cooler / Air Conditioner
            facility in each room (as opted). Arrangement for power supply through
            dedicated 24 hours hotlines
        </p>
    </div>
    <h1>STEP1:MOVING TO UMS HOME</h1>
    <div class="ph1">
        <img src="~/images/h1.png" width="300" height="390" />
    </div>
    <div class="ulli">
        <ul>
            <li>Open your<strong> UMS</strong> portal</li>
            <br />
            <br />
            <li>Navigate to UMS Home</li>
            <br />
            <br />
            <li>You will gwt an interface as shown in the image</li>
            <br />
            <br />
            <li>
                There you can look out for the <strong>RESIDENTAL services</strong>
            </li>
            <br />
            <br />
            <li>open that for the further process</li>
        </ul>
    </div>
    <h1>STEP2:THE CATEGORIES</h1>
    <div class="ph2">
        <img src="~/images/h2.png" width="600" height="300" />
    </div>
    <div class="ulli">
        <ul>
            <li>Navigate through<strong> HOSTEL RELATED SERVICES</strong></li>
            <br />
            <br />
            <li>Here you go with multiple options to the services</li>
            <br />
            <br />
            <li>You will get an interface as shown in the image</li>
            <br />
            <br />
            <li>There you can look out according to necessity</li>
        </ul>
        <br /><br />
    </div>
    <h1>STEP3:ROOM SELECTION</h1>
    <img class="ph4" src="~/images/h3.png" width="1000" height="auto" />
    <div class="ulli">
        <ul>
            <li>
                Here comes multiple types of rooms in the
                <italic>lovely professional university</italic>
            </li>
            <br />
            <br />
            <li>You need to select the reporting date of the university</li>
            <br />
            <br />
            <li>There you can look out according to necessity</li>
        </ul>
    </div>
    <div class="ph4">
        <img src="~/images/h4.png" width="1000" height="auto" />
    </div>
    <div class="ulli">
        <ul>
            <li>
                Room with attached washroom bed chair table and almirah Options of air-cooled or air-conditioned room Separate mess facility in each hostel with vegetarian meals only.
            </li>
            <br>
            <br>
            <li>
                Apart from mess each hostel has a cafeteria which remains open 24/7 to facilitate the students who generally study till late night Hygienic vegetarian meals with variety of cuisines (Indian, South Indian, Continental) Free internet connectivity through Wi-Fi system
            </li>
        </ul>
    </div>
    <div class="ph4">
        <img src="~/images/h5.png" width="1000" height="auto" />
    </div>
    <div class="ulli">
        <ul>
            <li>
                Hostels at LPU are the largest student accommodation in India. More than 25000 students live in the fully equipped hostels.
            </li>
            <br />
            <br />
            <li>There are many options to choose from as per your convenience and budget. From single seat apartments to shared rooms to dormitories! </li>
            <br />
            <br />
            <li>There is something to suit every pocket. The university provides beds, chairs, tables, AC/Cooler/Geyser, fan, lights, cupboards etc. Fro its own side.</li>
        </ul>
    </div>
    <h1>STEP4:PAYMENT</h1>
    <div class="ph6">
        <img src="~/images/h6.png" width="auto" height="auto">
    </div>
    <div class="ulli">
        <ul>
            <li>Here comes your payment</li>
            <br />
            <br />
            <li>Confirm and recheck your details</li>
            <br />
            <br />
            <li>Click on pay now when you are done</li>
            <br />
            <br />
            <li>
                You will shortly get updated by the university
            </li>
        </ul>
    </div>
</body>
</html>
