<!DOCTYPE html>
<html lang="en">
<head>
    <title>test</title>
</head>
<style>
    header {
  text-align: center;
  background-color: rgb(245, 156, 3);
}
body {
  margin: 0;
}
.umslogo {
  margin-top: 20px;
  margin-bottom: 10px;
}
h1 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 40px;
  margin-left: 35px;
}
P {
  font-family: inherit;
  font-weight: 400;
  font-size: 25px;
  color: #212121;
  font-size: 1.4rem;
  line-height: 1.7rem;
  font-family: inherit;
  font-size: 1.2rem;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  margin-left: 35px;
  margin-right: 30px;
}
.ulli {
  font-family: inherit;
  font-weight: 400;
  font-size: 25px;
  color: #212121;
  font-size: 1.4rem;
  line-height: 1.7rem;
  font-family: inherit;
  font-size: 1.4rem;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  margin-top: 35px;
  margin-left: 25px;
  margin-right: 25px;
}
.t1 {
  float: left;
  margin-left: 35px;
  margin-right: 20px;
}
.t3 {
  margin-left: 105px;
}

</style>
<body>
    <header>
        <img src="~/images/lpu_logo.png" width="75" />
        <img class="umslogo" src="~/images/ums_logo.png" />
    </header>
    <h1>ABOUT THE TEST:-</h1>
    <p>
        Assessment for learning rather than assessment of learning’ reflects the
        true spirit of evaluation system at LPU. Innovative and unparalleled
        IT-integrated practices ensure the highest level of integrity and transparency
        throughout.
    </p>
    <p>
        End-Term examinations are conducted with results published for over 1 lakh
        courses per academic term. Every student gets a chance to examine the
        his/her respective answer sheet(s) in pre-planned scrutiny sessions.
    </p>
    <h1>HOW TO OPEN TEST?</h1>
    <div class="t1">
        <img src="~/images/t1.png" width="350" height="400" />
    </div>
    <br />
    <br />
    <div class="ulli">
        <ul>
            <li>
                After opening your MY CLASS portal, You need to navigate to the Take
                Test
            </li>
            <br />
            <br />
            <li>Here you have multiple options to take the test</li>
            <br />
            <br />
            <li>you need to select the First one as shown in the image</li>
            <br />
            <br />
            <li>
                The test is a typical moderate exam different for everyone with high
                security
            </li>
            <br />
            <br />
        </ul>
    </div>
    <h1></h1>
    <img src="~/images/t2.png" width="auto" height="auto" />

    <div class="ulli">
        <ul>
            <li>You can refer to the picture and select the Test</li>
            <br />
            <br />
            <li>mostly all of the groups will have the MCQs based exam</li>
            <br />
            <br />
            <li>
                The webcam should be on for the exam whole time, in case of navigation
                out the window will lead you to auto submit the exam
            </li>
        </ul>
    </div>
    <div class="t3">
        <img src="~/images/t3.png" width="1000" height="250" />
    </div>
    <div class="ulli">
        <ul>
            <li>You were very frequently observed by the proctor</li>
            <br />
            <br />
            <li>
                If you caught copying in the exam you will be under the circumstance
                of UMC
            </li>
            <br />
            <br />
            <li>After 5 UMC's you will be suspended from the campus</li>
        </ul>
    </div>
    <h1>EXAMINATION RE-EVALUATION SYSTEM</h1>
    <p>
        After every Mid Term Test (MTT)/ End term Examination (ETE), the students
        are entitled to physically scrutinize evaluated answer booklet (s). In
        case any student feels dissatisfied with the evaluation, he/she can apply
        online through University Management System (UMS) for re-evaluation of the
        answer booklet (s).
    </p>
</body>
</html>
